/*
*
*	main_blue: #008dd2 rgb(0,141,210);
*	main_pink: #e5097f rgb(229,9,127);
*
*/

@import "../fonts/font-awesome/3.2.1/less/font-awesome.less";

@sp-color-main-pink: #e5097f;
@sp-color-main-blue: #008dd2;

body {
	padding-top:70px;
	background: url("../img/bg/bg-businessman.jpg") fixed;
}
*:not(.glyphicon):not(.icon) {
	font-family: 'Roboto', Arial !important;
	font-weight: 300;
	b,strong {
		font-weight: 700;
	}
}

#sp-contact-form .has-error {
	input,
	textarea {
		background: #f2dede;
	}
}

.navbar-nav>li>a {
	line-height:35px;
	transition:all .3s linear;
	color:#666666 !important;
	text-transform: uppercase;
	font-size:.85em;
	border-bottom:solid 5px #f8f8f8;
}
.navbar-brand * {
	transition:all .3s linear;
}
#sp-main-navbar {
	transition:all .3s linear;
	.container {
		position: relative;
		transition:height .3s linear;
	}
	.navbar-brand {
		position:absolute;
		left:0px;
		top:0px;
		img {
			height: 95px;
		}
	}
	.sp-main-navbar-links {
		display:block;
		height:35px;
		text-align:right;
		transition: margin .2s linear;
		
		color: #888888;
		span {
			line-height: 35px;
			height: 35px;
			font-size:.9em;
			display:inline-block;
			font-size:0;
		a {
			transition: all .2s linear;
			line-height: 35px;
			display:inline-block;
			margin:0;
			font-size:11px;
			padding: 0px 10px;
			background: #eeeeee;
			&.highlight {
				background: #e3e3e3;
				font-size:14px;
				color: lighten(@sp-color-main-blue,10) !important;
				i {
					margin: 0px 5px;
				}
				&:hover {
					color: #ffffff !important;
					background: lighten(@sp-color-main-blue,10) !important;
				}
			}
			&:link,
			&:visited {
				color: #aaaaaa;
			}		
			&:hover,
			&:focus {
				color: #000000;
				text-decoration: none;
			}
			&.active {
				color: #000 !important;
			}
			img {
				margin-top: -2px;
			}
		}
		}
	}
	.sp-main-navbar {
		ul {
			margin: 0px -15px;
		}
	}
	&.small {
		box-shadow: 0px 2px 3px rgba(0,0,0,.3);
		.navbar-nav>li>a {
			line-height:15px;
		}
		.navbar-brand {
			font-size: 14px;
			padding: 0px;
			img {
				height: 40px;
			}
		}
		.sp-main-navbar {
			margin-top:-2px;
			background: #f8f8f8;
			//border-bottom: solid 1px #ccc;
		}
		.sp-main-navbar-links {
			margin-top:-35px;
		}
	}
	.sp-main-header {
		color: #888888;
		line-height: 35px;
		height: 35px;
		background: #353535;
		font-size:.9em;
		
		a {
			transition: all .2s linear;
			i {
				margin: 0px 5px;
			}
			&:link,
			&:visited {
				color: #bbbbbb;
			}		
			&:hover,
			&:focus {
				color: lighten(@sp-color-main-blue,10);
				text-decoration: none;
				img {
					border: solid 1px #999999;
				}
			}
			&.active {
				color: #ffffff;
				img {
					border: solid 1px #999999;
				}
			}
			img {
				border: solid 1px #666666;
				margin-top: -2px;
			}
		}
	}
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	border-bottom:solid 5px @sp-color-main-pink;
	background:none;
	line-height:35px;
	color:@sp-color-main-pink !important;
}

.sp-client-area,
.sp-location-select {
	display:none;
	float:right;
	margin-bottom: -40px;
	background: #f8f8f8;
}
.sp-client-area,
.sp-location-select button {
	padding: 9px 12px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 8px;
	border: 1px solid #ddd;
	background: #f8f8f8;
	border-radius: 4px;
	line-height:1;
		color:#ccc;
	i {
		margin:0;
	}
}
.sp-client-area {
	color: @sp-color-main-blue;
	&:hover,
	&:focus {
		color: #fff;
		background:@sp-color-main-blue;
		border-color:@sp-color-main-blue;
	}
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
		border-bottom:solid 5px #f8f8f8;
		background:@sp-color-main-pink;
		color:#ffffff !important;
	}
	
	.sp-client-area,
	.sp-location-select {
		display:inline-block;
	}
	
	#sp-main-navbar {
		.container {
			height:95px;
		}
		&.small {
			.container {
				height:40px;
			}
		}
		.navbar-brand img {
			height:80px;
		}
		.sp-main-navbar-links {
			display:none;
		}
		.sp-main-navbar {
			margin-top: 43px;
		}
	}
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color:@sp-color-main-pink !important;
}
.navbar-nav>li.highlight>a {
	color:#ffffff !important;
	background-color: rgb(237,8,140);
}
.navbar-default .navbar-nav>li.highlight>a:hover,
.navbar-default .navbar-nav>li.highlight>a:focus {
	color:#ffffff !important;
	background-color: rgb(220,0,130);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: rgb(220,0,130);
	border-color: rgb(220,0,130);
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}
.navbar-fixed-top {
	z-index: 10001;
}

.sp-section {
	padding-top: 20px;
	padding-bottom: 20px;

	.sp-header {
		color: #eeeeee;
		text-transform: uppercase;
		font-family: 'Roboto';
		font-weight: 300;
		display: inline-block;
		border-bottom: 1px solid #efefef;
		padding-bottom: 12px;
		position: relative;
		margin-bottom: 30px;
		
		&:after {
			background: @sp-color-main-pink;
			content: "";
			height: 3px;
			width: 70px;
			display:block;
			margin: 14px auto -14px;
		}
	}
	.sp-header-intro {
		color: #888888;
		text-align: justify;
		text-indent: 30px;
	}
	
	&.js-bg {
		background-color:#fff;
		
		.sp-header {
			color: #2d2d2d;
			border-bottom: 1px solid #efefef;
			
			&:after {
				background: @sp-color-main-pink;
			}
		}
	}
	&.sp-blue-bg {
		background: @sp-color-main-blue;
		color: #ffffff;
	}
}
.sp-sep {
	text-align: center;
	padding: 30px 0px;
	vertical-align: middle;
	display:block;
	i {
		color: #fff;
		background: @sp-color-main-pink;
		border-radius: 30px;
		width: 36px;
		height: 36px;
		display: inline-block;
		font-size: 20px;
		line-height: 36px;
		vertical-align: middle;
	}
	&:before,
	&:after {
		display:inline-block;
		content: "";
		background: #ddd;
		width: 40%;
		height: 1px;
		margin: 0px 1%;
		vertical-align: middle;
	}
}

.sp-team-member {
	position:relative;
	margin-top: 20px;
	
	span.sp-team-member-image {
		background-color: #eee;
		border-radius: 180px;
		height:140px;
		width: 140px;
		left: 50%;
		top:-70px;
		display:block;
		margin: auto;
		margin-left:-70px;
		position: absolute;
		background-size: 140px 140px;
		background-position: center center;
		transition: all .2s linear;
		border: solid 8px #eee;
	}
	&:hover {
		span.sp-team-member-image {
			background-size: 170px 170px;
			border: solid 8px #fff;
		}
	}
	
	div.sp-team-member-content {
		background: #ffffff;
		box-shadow: 0px 2px 3px rgba(0,0,0,.2);
		border-radius: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	
		span.sp-team-member-name {
			display: block;
			padding-top: 10px;
		
			font-size: 1.3em;
			color: @sp-color-main-blue;
		}
		span.sp-team-member-role {
			display:block;
		
			font-size: .9em;
			text-transform: uppercase;
			color: #999;
			padding: 0px;
		}
		div.sp-team-member-contacts {
			padding: 10px;
			a {
				border-radius: 36px;
				line-height: 36px;
				height: 36px;
				width: 36px;
				display: inline-block;
				border:solid 1px @sp-color-main-pink;
				transition: background .3s linear;
				text-decoration: none;
				i {
					color: @sp-color-main-pink;
					font-size: 16px;
					line-height: 34px;
					margin: 0px;
					padding: 0px;
				}
				&:hover,
				&:focus {
					background: @sp-color-main-pink;
					i {
						color: white;
					}
				}
			}
		}
	}
}

#sp-president-message {
	padding-top: 60px;
	padding-bottom: 60px;
	.sp-president-message-image {
		border: solid 5px #eee;
		border-radius: 180px;
		width: 120px;
		height: 120px;
		background-size: 120px 120px;
		display:inline-block;
		transition: all .2s linear;
	}
	.sp-president-message-text {
		color: rgba(255,255,255,.8);
		font-style: italic;
		font-size: 18px;
		line-height:24px;
		text-align: justify;
	}
	.sp-president-message-signature {	
		display:block;
		text-align: left;
		color: rgba(255,255,255,.5);
	}
}
#services {
	padding-bottom: 0px;
	.container .sp-services-elements {
		margin-top: 30px;
		&:hover {
			.sp-services-element {
				opacity: .3;
			}
		}
		.sp-services-element {
			transition: all .2s linear;
			position:relative;	
			.sp-services-element-content {
				background: #ffffff;
				box-shadow: 0px 2px 3px rgba(0,0,0,.2);
				border-radius: 3px;
				transition: all .2s linear;
				
				padding: 60px 20px 20px;
				display:block;
				margin-bottom:60px;
				
				.sp-services-element-title {
					font-weight: 500;
					transition: color .3s linear;
					text-align:center;
		
					.sp-services-element-icon {
						border: solid 5px #eee;
						height: 100px;
						width: 100px;
						display: inline-block;
						border-radius: 100px;
						background: #ffffff;
						position: absolute;
						top: -50px;
						left:50%;
						margin-left:-50px;
						transition: all .2s linear;
						i {
							transition: all .2s linear;
							font-size: 28px;
							line-height: 90px;
							color: @sp-color-main-blue;
						}
					}
				}
				.sp-services-element-text {
					color: #999999;
					font-size: 1em;
					padding: 10px 0px;
					display: block;
					transition: color .3s linear;
					text-align:justify;
				}
			}
			&:hover {
				opacity: 1 !important;
				.sp-services-element-title {
					color: @sp-color-main-blue;
				}
				.sp-services-element-text {
					color: #000000;
				}
				.sp-services-element-icon {
					background: @sp-color-main-blue !important;
					i {
						color: #ffffff !important;
					}
				}
			}
		}
	}
}
.sp-contacts-elements {
	padding: 50px 0px;
	.sp-contacts-element {
		position:relative;
		transition: all .2s linear;
		.sp-contacts-element-icon {
			height: 50px;
			width: 50px;
			display: inline-block;
			border-radius: 40px;
			background: @sp-color-main-blue;
			transition: all .2s linear;
			margin-bottom: -25px;
			i {
				transition: all .2s linear;
				color: #ffffff;
				font-size: 28px;
				line-height: 50px;
				font-weight: normal;
			}
		}
		.sp-contacts-element-text {
			margin-top: -10px;
			display: block;
			padding: 20px 0px 20px;
			color: #777777;
			background: rgba(255,255,255,.8);
			border-radius: 3px;
				transition: all .2s linear;
			h5 {
				color: #000;
				font-weight: 500;
			}
		}
		&:hover {
			.sp-contacts-element-text {
				background: #ffffff;
			}
		}
	}
}
#contacts-content {
	input,textarea {
		background: rgba(255,255,255,.8);
		&:focus,&:active {
			background: #ffffff;
		}
	}
}
footer {
	background: #2d2d2d !important;
	color: #ffffff;
}








.flip-horizontal() {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}






#sp-values {
		overflow: hidden;
	position: relative;
	height: 500px;
	.sp-value-main {
		position: absolute;
		text-align: center;
	}
	.sp-value-1,
	.sp-value-2,
	.sp-value-3,
	.sp-value-4,
	.sp-value-5,
	.sp-value-6 {
		position: absolute;
		text-align: center;
		
		.sp-value-icon {
			background: #e6e6e6;
			border-radius: 80px;
			width: 88px;
			height: 88px;
			display: inline-block;
			text-align: center;
			transition: all .1s linear;
			border: solid 4px #ffffff;
			position: relative;
			i {
				transition: all .1s linear;
				color: #888888;
				font-size: 26px;
				display:block;
				width: 80px;
				height: 80px;
				line-height: 80px;
				border-radius: 80px;
			}
		}
		.sp-value-title {
			display:block;
			padding: 5px 0px;
			transition: all .1s linear;
			font-weight: 300;
			width: 120px;
			margin-left: -10px;
		}
		&:before {
			width: 0px;
			height: 0px;
			left: 50%;
			top: 50%;
			display: inline-block;
			background: @sp-color-main-blue;
			content: "";
			position: absolute;
			border-radius: 100px;
			transition: all .1s linear;
		}
		&:hover {
			.sp-value-icon {
				background: @sp-color-main-blue;
				i {
					color: #ffffff;
				}
			}
			.sp-value-title {
				color: @sp-color-main-blue !important;
			}
			&:before {
				width: 98px;
				height: 98px;
				left: 1px;
				top: -5px;
				display: inline-block;
				background: @sp-color-main-blue;
				content: "";
				position: absolute;
				border-radius: 100px;
			}
		}
	}
}


@media (min-width: 768px) {
	#sp-values {
		position: relative;
		height: 450px;
		.sp-value-main {
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		.sp-value-1,
		.sp-value-2 {
			top: 70px;
			width: 100px;
			height: 100px;
			left: 10px;
		}
		.sp-value-2 {
			right: 10px;
			left: auto;
		}
		.sp-value-3,
		.sp-value-4 {
			left: 100px; 
			top: 200px;
			width: 100px;
			height: 100px;
		}
		.sp-value-4 {
			right: 100px;
			left: auto;
		}
		.sp-value-5,
		.sp-value-6 {
			left: 240px; 
			top: 290px;
			width: 100px;
			height: 100px;
		}
		.sp-value-6 {
			right: 240px;
			left: auto;
		}
		
		.sp-value-1:after {
			position: absolute;
			left: 90px;
			top: -40px;
			width: 240px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
		}
		.sp-value-2:after {
			position: absolute;
			left: -230px;
			top: -40px;
			width: 240px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
			
			.flip-horizontal();
		}
		.sp-value-3:after {
			position: absolute;
			left: 60px;
			top: -150px;
			width: 150px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
		}
		.sp-value-4:after {
			position: absolute;
			left: -110px;
			top: -150px;
			width: 150px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
			.flip-horizontal();
		}
		.sp-value-5:after {
			position: absolute;
			left: 20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
		}
		.sp-value-6:after {
			position: absolute;
			left: -20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
			.flip-horizontal();
		}
	}
}
@media (min-width: 992px) {
	#sp-values {
		position: relative;
		height: 450px;
		.sp-value-main {
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		.sp-value-1,
		.sp-value-2 {
			top: 70px;
			width: 100px;
			height: 100px;
			left: 50px;
		}
		.sp-value-2 {
			right: 50px;
			left: auto;
		}
		.sp-value-3,
		.sp-value-4 {
			left: 170px; 
			top: 200px;
			width: 100px;
			height: 100px;
		}
		.sp-value-4 {
			right: 170px;
			left: auto;
		}
		.sp-value-5,
		.sp-value-6 {
			left: 340px; 
			top: 290px;
			width: 100px;
			height: 100px;
		}
		.sp-value-6 {
			right: 340px;
			left: auto;
		}
		
		.sp-value-1:after {
			position: absolute;
			left: 90px;
			top: -40px;
			width: 290px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
		}
		.sp-value-2:after {
			position: absolute;
			left: -280px;
			top: -40px;
			width: 290px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
			.flip-horizontal();
		}
		.sp-value-3:after {
			position: absolute;
			left: 60px;
			top: -150px;
			width: 200px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
		}
		.sp-value-4:after {
			position: absolute;
			left: -160px;
			top: -150px;
			width: 200px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
			.flip-horizontal();
		}
		.sp-value-5:after {
			position: absolute;
			left: 20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
		}
		.sp-value-6:after {
			position: absolute;
			left: -20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
			.flip-horizontal();
		}
	}
}
@media (min-width: 1200px) {
	#sp-values {
		position: relative;
		height: 450px;
		.sp-value-main {
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		.sp-value-1,
		.sp-value-2 {
			top: 70px;
			width: 100px;
			height: 100px;
			left: 150px;
		}
		.sp-value-2 {
			right: 150px;
			left: auto;
		}
		.sp-value-3,
		.sp-value-4 {
			left: 270px; 
			top: 200px;
			width: 100px;
			height: 100px;
		}
		.sp-value-4 {
			right: 270px;
			left: auto;
		}
		.sp-value-5,
		.sp-value-6 {
			left: 440px; 
			top: 290px;
			width: 100px;
			height: 100px;
		}
		.sp-value-6 {
			right: 440px;
			left: auto;
		}
		
		.sp-value-1:after {
			position: absolute;
			left: 90px;
			top: -40px;
			width: 290px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
		}
		.sp-value-2:after {
			position: absolute;
			left: -280px;
			top: -40px;
			width: 290px;
			height: 50px;
			content: "";
			background: url('../img/path-value-1.png');
			.flip-horizontal();
		}
		.sp-value-3:after {
			position: absolute;
			left: 60px;
			top: -150px;
			width: 200px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
		}
		.sp-value-4:after {
			position: absolute;
			left: -160px;
			top: -150px;
			width: 200px;
			height: 140px;
			content: "";
			background: url('../img/path-value-3.png');
			.flip-horizontal();
		}
		.sp-value-5:after {
			position: absolute;
			left: 20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
		}
		.sp-value-6:after {
			position: absolute;
			left: -20px;
			top: -210px;
			width: 100px;
			height: 200px;
			content: "";
			background: url('../img/path-value-5.png');
			.flip-horizontal();
		}
	}
}
@media (max-width: 767px) {
	#sp-values {
		position: relative;
		height: 600px;
		.sp-value-main {
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		.sp-value-1,
		.sp-value-2,
		.sp-value-3,
		.sp-value-4,
		.sp-value-5,
		.sp-value-6 {
			width: 230px;
			height: 100px;
			left: 0px;
			top: 150px;
			text-align: center;
			
			.sp-value-title {
				margin: 10px auto;
			}
			&:before {
				left: 50%;
			}
			&:hover:before {
				left: 50%;
				margin-left: -49px;
			}
		}
		.sp-value-3,
		.sp-value-4 {
			top: 300px;
		}
		.sp-value-5,
		.sp-value-6 {
			top: 450px;
		}
		.sp-value-2,
		.sp-value-4,
		.sp-value-6 {
			left: auto;
			right: 0px;
		}
	}
}
@media (max-width: 320px) {
	.sp-hide-mobile {
		display: none;
	}
	#sp-values {
		position: relative;
		height: 600px;
		.sp-value-main {
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		.sp-value-1,
		.sp-value-2,
		.sp-value-3,
		.sp-value-4,
		.sp-value-5,
		.sp-value-6 {
			width: 150px;
			height: 100px;
			left: 0px;
			top: 150px;
			text-align: center;
			
			.sp-value-title {
				margin: 10px auto;
			}
			&:before {
				left: 50%;
			}
			&:hover:before {
				left: 50%;
				margin-left: -49px;
			}
		}
		.sp-value-3,
		.sp-value-4 {
			top: 300px;
		}
		.sp-value-5,
		.sp-value-6 {
			top: 450px;
		}
		.sp-value-2,
		.sp-value-4,
		.sp-value-6 {
			left: auto;
			right: 0px;
		}
	}
}